recursive-include descripytor/examples *.feather *.json *.csv README.md
recursive-include M2_data_extractor/static *
include Getting_started_with_examples/input_example.json
include Getting_started_with_examples/descriptor_extraction_toolkit/config_example.json
