recursive-include descripytor/examples *.feather *.json README.md
include Getting_started_with_examples/input_example.json
include Getting_started_with_examples/descriptor_extraction_toolkit/config_example.json
graft Getting_started_with_examples/feather_example
